@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:active {
    background: #a0a0a0;
}
/*input*/
input, textarea{
    outline: none;
}